# =================================================================
# General / IDEs / OS
# =================================================================
HELP.md
.DS_Store
Thumbs.db
**/.vscode/
**/.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# Security: Exclude all environment variables files anywhere
**/.env
**/*.env
**/.env.*
!**/.env.example

# =================================================================
# Backend (Java Spring Boot / Maven)
# =================================================================
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

**/.mvn/wrapper/maven-wrapper.jar
**/build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# =================================================================
# Frontend (React / Node) - Global Patterns
# =================================================================
# This catches node_modules in ANY subfolder
**/node_modules/
**/build/
**/dist/

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*